<%- include('./includes/__header.ejs')%>
<section id="adduserForm">
  <div class="container">
    <div class="mt-4">
      <a href="/" class="text-dark border p-1"
        ><i class="fal fa-arrow-left"></i> Back</a
      >
    </div>
    <div class="row">
      <div class="col-6 mx-auto mt-5">
        <div class="formT text-center mb-4">
          <h3 class="text-dark">Add User</h3>
        </div>
        <!-- include adduser form  -->
        <%- include('./includes/__form.ejs')%>
        <!-- /include adduser form  -->
      </div>
    </div>
  </div>
</section>
<script src="js/form_district_show.js"></script>
<script src="js/add_user.js"></script>
<%- include('./includes/__footer.ejs')%>
